<div class="header page-centered">
    <h1 class="title-page">TeamBuddy</h1>
    <ul>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/events">Events</a></li>
    </ul>
</div>



